<%- include('partials/header'); -%>
<header>
    <div class="smoothie">
      <img src="/report.svg" alt="">
    </div>
    <div class="headings">
      <h2>Welcome to Smile Beauty Salon</h2>
      <h3>Our Services </h3>
      <a href="/services" class="btn">View Services</a>
    </div>
  </header>
<%- include('partials/footer'); -%>